<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
  <style>
      body {
      background: white;
    }
    th {
      background: darkred;
      color: white;
    }

    tr:nth-child(even) {
      background: #ccc;
    }
    tr:nth-child(odd) {
      background: #fafafa;
    }

    td {
      text-align: center;
    }

    .primary-header {
      font-size: 25px;
      white-space: nowrap;
    }

    .secondary-header {
      font-size: 15px;
      white-space: nowrap;
    }

    .side-header {
      white-space: nowrap;
    }
</style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th></th>
        <th><span class="primary-header">SRCP</span><br /><span class="secondary-header">Shared Roof Certified Property</span></th>
        <th><span class="primary-header">Direct Ownership</span><br /><span class="secondary-header">Self management</span></th>
        <th><span class="primary-header">REITs</span><br /><span class="secondary-header">Real Estate Investment Trusts</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="side-header">Real Estate Exposure</td>
        <td class="description">Upside tied to growth in specific local area.</td>
        <td class="description">Upside tied to growth in specific local area.</td>
        <td class="description">Blanket participation in different aspects of real estate (property, mortgages, etc.), will generally follow the trend of the whole market.</td>
      </tr>
      <tr>
        <td class="side-header">Real Estate Exposure</td>
        <td class="description">Upside tied to growth in specific local area.</td>
        <td class="description">Upside tied to growth in specific local area.</td>
        <td class="description">Blanket participation in different aspects of real estate (property, mortgages, etc.), will generally follow the trend of the whole market.</td>
      </tr>
    </tbody>
  </table>
</body>
</html>



