<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>
			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><span class="text-danger">Why Us</span></li>
			</ul><!-- /breadcrumb -->

			<h2>Alternatives when investing in <strong> Real Estate </strong></h2>
		</header>

	</div>
</section>
<!-- /PAGE TOP -->



<!-- CONTENT -->
<section>
	<div class="container">
		<p>In our humble opinion, Shared Roof Certified Properties provide the best of both worlds when investing in real estate. In the spirit of full transparency, here’s a table comparing your options when investing in real estate. </p>

		<!-- Full 3 -->
		<div class="row mega-price-table">
			<div class="col-md-3 col-sm-6 block">
				<div class="pricing">

					<div class="pricing-head list-unstyled">
					</div>

					<!-- option list -->
					<ul class="pricing-table list-unstyled">
						<li>
							<br>
							<b>Real Estate Exposure</b>
							<br>
							<br>
							<br>
						</li>
						<li class="alternate">
							<br>
							<b>Risk</b>
							<br>
							<br>
						</li>
						<li>
							<br>
							<br>
							<b>Due Diligence</b>
							<br>
							<br>
							<br>
							<br>
						</li>
						<li class="alternate">
							<br>
							<br>
							<b>Liquidity</b>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
						</li>
						<li>
							<b>Volatility</b>
							<br>
							<br>
						</li>
						<li class="alternate">
							<b>Financial Capital</b>
							<br>
							<br>
						</li>
						<li>
							<b>Time and Effort</b>
						</li>
						<li class="alternate">
							<b>Dividend Disbursements</b>
							<br>
							<br>
						</li>
					</ul>
					<!-- /option list -->

					<!-- button -->
					<!-- <a class="btn btn-primary fullwidth">  </a> -->

				</div>
			</div>

			<div class="col-md-3 col-sm-6 block">
				<div class="pricing">

					<div class="pricing-head">
						<h3>REITs</h3>
						<small>Real Estate Investment Trusts</small>
					</div>
					<!-- option list -->
					<ul class="pricing-table list-unstyled">
						<li>
							Blanket participation in different aspects of real estate (property, mortgages, etc.), will generally follow the trend of the whole market.
						</li>
						<li class="alternate">
							Medium risk, diversified within real estate but sensitive to unpredictable macroeconomic trends.
							<br>
						</li>
						<li>
							<br>
							Extensive due diligence, key metrics include book value, portfolio diversity, macroeconomic property trends, etc.
							<br>
							<br>
							<br>
						</li>
						<li class="alternate">
							<br>
							<br>
							High liquidity, trades like a stock.
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
						</li>
						<li>
							High volatility, influenced by daily market forces and traders.
						</li>
						<li class="alternate">
							Low financial capital to get started
							<br>
							<br>
						</li>
						<li>
							High time and effort required
						</li>
						<li class="alternate">
							Most REITs disburse quarterly, few monthly
						</li>
					</ul>
					<!-- /option list -->

					<!-- button -->
					<!-- <a href="#" class="btn btn-primary fullwidth">Purchase Now</a> -->

				</div>
			</div>

			<div class="col-md-3 col-sm-6 block">
				<div class="pricing">

					<div class="pricing-head">
						<h3>Direct Ownership</h3>
						<small>Self management</small>
					</div>

					<!-- option list -->
					<ul class="pricing-table list-unstyled">
						<li>
							<br>
							Upside tied to growth in specific local area.
							<br>
							<br>
						</li>
						<li class="alternate">
							High risk, all eggs in one basket.
							<br>
							<br>
							<br>
						</li>
						<li>
							<br>
							Extensive due diligence including appraisal, survey, inspection, current tenants, local property trends, etc.).
							<br>
							<br>
							<br>
						</li>
						<li class="alternate">
							<br>
							<br>
							Low liquidity, owning the entire parcel is a large commitment and takes time to buy or sell.
							<br>
							<br>
							<br>
							<br>
						</li>
						<li>
							Low volatility
							<br>
							<br>
						</li>
						<li class="alternate">
							High financial capital required, debt often has to be incurred
						</li>
						<li>
							High time and effort required
						</li>
						<li class="alternate">
							Monthly
							<br>
							<br>
						</li>
					</ul>
					<!-- /option list -->

					<!-- button -->
					<!-- <a href="#" class="btn btn-primary fullwidth">Purchase Now</a> -->

				</div>
			</div>

			<div class="col-md-3 col-sm-6 block">
				<div class="pricing">

					<div class="pricing-head">
						<h3>SRCP</h3>
						<small>Shared Roof Certified Property</small>
					</div>

					<!-- option list -->
					<ul class="pricing-table list-unstyled">
						<li>
							<br>
							Upside tied to growth in specific local area.
							<br>
							<br>
						</li>
						<li class="alternate">
							Medium risk, diversification on a per property basis allows for a tunable micro risk profile.
						</li>
						<li>
							Optional due diligence. Shared Roof Certified Properties have gone through our due diligence processes. We will provide you with all the research, so you can be as active or passive of an investor as you want to be.
						</li>
						<li class="alternate">
							Medium liquidity, while we strive for your Shared Roof certified property to be an asset you hold forever, we know that personal needs may arise. When this happens, we will work with you to sell your Roof shares to our growing pool of existing investors or to new certified investors.
						</li>
						<li>
							Low volatility
							<br>
							<br>
						</li>
						<li class="alternate">
							Medium financial capital, we have minimum buy-ins of $30,000.
						</li>
						<li>
							Low time and effort required
						</li>
						<li class="alternate">
							Monthly
							<br>
							<br>
						</li>
					</ul>
					<!-- /option list -->


					<!-- button -->
					<!-- <a href="#" class="btn btn-primary fullwidth">Purchase Now</a> -->

				</div>
			</div>
		</div>
		<!-- /Full 3 -->


		<hr class="invisible" />




	</div>
</section>