<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>
			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><p class="text-danger">State of the Art</p></li>
			</ul><!-- /breadcrumb -->
			<h2><!-- Page Title -->
				Amenities
			</h2><!-- /Page Title -->








		</header>

	</div>
</section>
<!-- /PAGE TOP -->




<!-- CONTENT -->
<section>


	<div class="container">
		<div class="row">
<ul class="sort-destination isotope" data-sort-id="isotope-list">

								<li class="sotope-item col-sm-6 col-md-4 development"><!-- item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="portfolio-single-basic.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a1.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>Epona Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>

								<li class="sotope-item col-sm-6 col-md-4 photography"><!-- item 2 -->
									<div class="item-box">
										<figure>
											<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>VIEW</strong> VIDEO
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a2.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>Video Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>

								<li class="sotope-item col-sm-6 col-md-4 design"><!-- item 3 -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="portfolio-single-basic.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a3.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>Epona Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>

								<li class="sotope-item col-sm-6 col-md-4 photography"><!-- item 4 -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="portfolio-single-basic.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a4.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>Epona Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>

								<li class="sotope-item col-sm-6 col-md-4 development"><!-- item 5 -->
									<div class="item-box">
										<figure>
											<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>VIEW</strong> VIDEO
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a5.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>Video Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>

								<li class="sotope-item col-sm-6 col-md-4 design"><!-- item 6 -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="portfolio-single-basic.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>PROJECT</strong> DETAIL
												</span>
											</a>
											<img class="img-responsive" src="assets/images/demo/portfolio/a6.jpg" width="260" height="260" alt="">
										</figure>
										<div class="item-box-desc">
											<h4>Epona Project</h4>
											<small class="styleColor">29 June, 2014</small>
										</div>
									</div>
								</li>

							</ul>


		</div>
		<div class="row">

			<div class="col-md-2">

				<i class="featured-icon fa fa-home"></i>

				<hr class="invisible" /><!-- spacer 60px -->
				<hr class="invisible" /><!-- spacer 60px -->


				<i class="featured-icon fa fa-clipboard"></i>

				<hr class="invisible" /><!-- spacer 60px -->
				<i class="featured-icon fa fa-cogs"></i>

				<hr class="invisible" /><!-- spacer 60px -->


				<i class="featured-icon fa fa-briefcase"></i>

				<hr class="invisible" /><!-- spacer 60px -->

				<i class="featured-icon fa fa-bank"></i>

				<hr class="invisible" /><!-- spacer 60px -->

				<i class="featured-icon fa fa-flag"></i>

				<hr class="invisible" /><!-- spacer 60px -->

				<i class="featured-icon fa fa-group"></i>

				<hr class="invisible" /><!-- spacer 60px -->



			</div>

			<div class="col-md-10">

				<h2> 	Doctor's Clinic </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2>	CCTV Cameras </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic</h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2>	Generator Unit </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>

				<h2>	Fully Air Conditioned </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>

				<h2>	Wheel Chair Assitance</h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2>	Free Wifi </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic</h4>

			</div>

		</div>



	</div>
</section>
<!-- /CONTENT -->
