<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>
			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><p class="text-danger">State of the Art</p></li>
			</ul><!-- /breadcrumb -->
			<h2><!-- Page Title -->
				Amenities
			</h2><!-- /Page Title -->








		</header>

	</div>
</section>
<!-- /PAGE TOP -->




<!-- CONTENT -->
<section>


	<div class="container">
		<div class="row">

			<div class="col-md-2">

				<i class="featured-icon fa fa-home"></i>

				<hr class="invisible" /><!-- spacer 60px -->
				<hr class="invisible" /><!-- spacer 60px -->


				<i class="featured-icon fa fa-camera"></i>

				<hr class="invisible" /><!-- spacer 60px -->
				<i class="featured-icon fa fa-cogs"></i>

				<hr class="invisible" /><!-- spacer 60px -->


				<i class="featured-icon fa fa-retweet"></i>

				<hr class="invisible" /><!-- spacer 60px -->

				<i class="featured-icon fa fa-wheelchair"></i>

				<hr class="invisible" /><!-- spacer 60px -->

				<i class="featured-icon fa fa-spotify"></i>

			</div>

			<div class="col-md-10">

				<h2> 	Doctor's Clinic </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2>	CCTV Cameras </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic</h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2>	Generator Unit </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>

				<h2>	Fully Air Conditioned </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>

				<h2>	Wheel Chair Assitance</h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2>	Free Wifi </h2>
				<h4 class="nomargin">
Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic Description of clinic</h4>

			</div>

		</div>



	</div>
</section>
<!-- /CONTENT -->
