<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>

			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><span class="text-danger">A City on the Move</span></li>
			</ul><!-- /breadcrumb -->

			<h2><!-- Page Title -->
				Durham, North Carolina
			</h2><!-- /Page Title -->

		</header>

	</div>
</section>
<!-- /PAGE TOP -->



<!-- CONTENT -->
<section>
	<div class="container">

		<div id="blog" class="row">
			<!-- ARTICLE -->
			<div class="col-md-2 col-sm-2">

			</div>
			<!-- ARTICLE -->
			<div class="col-md-9 col-sm-9">

				<h2>Why are we betting on Durham as our first Shared Roof city?</h2>

				<div class="row">

					<!-- carousel -->
					<div class="owl-carousel text-center controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "autoPlay": true, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
						<div class="item">
							<img src="/raw_assets/images/durham_1.jpg" class="img-responsive" alt="img" />
						</div>
						<div class="item">
							<img src="/raw_assets/images/durham_2.jpg" class="img-responsive" alt="img" />
						</div>
						<div class="item">
							<img src="/raw_assets/images/durham_3.jpg" class="img-responsive" alt="img" />
						</div>
						<div class="item">
							<img src="/raw_assets/images/durham_4.jpg" class="img-responsive" alt="img" />
						</div>
					</div>
<!-- TOGGLES -->
				<div class="toggle transparent">

					<div class="toggle"><!-- toggle -->
						<label>+ Duke University</label>
						<div class="toggle-content">
							<p><a href="http://www.duke.edu/" target="_blank">Duke University</a> is one of the most prestigious universities in the world. As of 2014, Duke employs 36,000 professionals and is home to 14,850 students. Duke has slowly and steadily been increasing enrollment both in its undergraduate and graduate programs and with it comes larger faculty and staff pool. In good economic times and bad, there will always be students, professors and staff.</p>
						</div>
					</div><!-- /toggle -->

					<div class="toggle"><!-- toggle -->
						<label>+ Duke Medical Center</label>
						<div class="toggle-content">
							<p> Duke Medical Center is a top ranked hospital in the United States. Aside from its main 819 bed general medical and surgical unit, it also has numerious out patient facilities spread across Durham. It employs around 25,000 healthcare professionals, and will continue growing through the years. Duke Medical Center's current projects include:</p>
								<li><a href="http://construction.dukemedicine.org/projects/eye-center" target="_blank"> Duke Eye Center Clinical Facility</a> </li>
								<li><a href="http://construction.dukemedicine.org/projects/som-learning-center" target="_blank"> Mary Duke Biddle Trent Semans Center for Health Education</a> </li>
								<li><a href="http://construction.dukemedicine.org/projects/duke-medicine-pavilion" target="_blank"> Duke Medicine Pavilion</a> </li>
						</div>
					</div><!-- /toggle -->

					<div class="toggle"><!-- toggle -->
						<label>+ Research Triangle Park</label>
						<div class="toggle-content">
							<p> Research Triangle Park is one of the largest research parks in the world. Some of the most successful companies including IBM, Google, Oracle, GlaxoSmithKline, Cisco, Credit Suisse, Deutsche Bank, NetApp have major offices in Durham. For a full list, see <a href="http://en.wikipedia.org/wiki/Research_Triangle_Park" target="_blank">here</a>. </p>
						</div>
					</div><!-- /toggle -->

					<div class="toggle"><!-- toggle -->
						<label>+ Start-up Culture</label>
						<div class="toggle-content">
							<p> There has been a tremendous push to grow entrepreneurship in the city. Numerous incubation and acceleration programs such as the <a href="http://americanunderground.com/" target="_blank">American Underground</a>, <a href="http://bullcityforward.org/" target="_blank">Bull City Forward</a> and <a href="http://thestartupfactory.co/" target="_blank">the Startup Factory</a> have been established to support Founders. Durham's low cost of living and easy access to a large talent pool makes it an ideal location for start-ups.</p>
						</div>
					</div><!-- /toggle -->

					<div class="toggle"><!-- toggle -->
						<label>+ Neighboring Cities</label>
						<div class="toggle-content">

							<p>In the last few years, there has been massive growth in Durham's neighboring cities. <b>Raleigh</b>, the captial of North Carolina, was voted the 2014 best place for business and careers by <a href="http://www.forbes.com/sites/kurtbadenhausen/2014/07/23/raleigh-leads-the-best-places-for-business-and-careers-2014/" target="_blank">Forbes </a>. The growth in the city have fueled proprety values to increase 4.3% in the last year. <b>Chapel Hill</b>, home of the University of North Carolina Tar Heels, is not far behind with a projected job growth of 3.9% in 2015. The three cities Durham, Chapel Hill and Raleigh are more popularly referred to as the <i>triangle</i> and are all 25 minutes from each other. </p>
						</div>
					</div><!-- /toggle -->


					<div class="toggle"><!-- toggle -->
						<label>+ Don't just take it from us</label>
						<div class="toggle-content">

							<p> We are not the only ones who think Durham is an up and coming city:
								<ul class="list-icon check">
									<li> <a href="http://money.cnn.com/galleries/2008/fsb/0803/gallery.best_places_to_launch.fsb/12.html" target="_blank">  CNN's best places to live</a></li>

									<li><a href="http://www.entrepreneur.com/article/227829" target="_blank"> Entrepreneur.com's 25 best U.S. cities for Tech Startups</a> </li>

									<li><a href="http://www.forbes.com/places/nc/durham/" target="_blank">Forbes best places for business and careers  </li>

									<li><a href="http://www.forbes.com/pictures/efee45fied/durham-n-c/" target="_blank">Forbes America’s top 20 geekiest cities </a></li>

									<li><a href="http://www.bloomberg.com/bw/slideshows/20110920/america-s-50-best-cities#slide15" target="_blank">Bloomberg America’s 50 best cities </a></li>

									<li><a href="http://www.dukechronicle.com/articles/2014/02/12/durham-ranks-no4-livabilitys-best-places-live-list#.VOFGXrDF-hw" target="_blank"> Livability’s best places to live </a></li>

								</ul>


							</p>
						</div>
					</div><!-- /toggle -->


					<div class="toggle"><!-- toggle -->
						<label>+ We've seen this city grow</label>
						<div class="toggle-content">

							<p>Last but not the least, we’ve spent years in this city. We have seen it grow to what it is today and we see continued growth backed by fundamental factors in the decades to come. Virtually everyone who's lived in Durham will say the same. </p>

						</div>
					</div><!-- /toggle -->

				</div>
				<br/>
<p> <i>Still not convinced? Here's an excerpt from the Durham city website: </i></p>
					<!-- article content -->
					<article>
<p class="dropcap">Whether you know of Durham as the "City of Medicine" or the "Bull City" it's easy to see why so many residents and businesses call Durham home. Located halfway between the Great Smoky Mountains and the beaches of the Atlantic, Durham is a community that is home to over 300 restaurants, more than 40 annual festivals, Duke and North Carolina Central universities, Durham Bulls Triple-A baseball, art and science museums, and world-class medical facilities just to name a few. With more than 5.2 million visitors annually, Durham is the top destination of arrivals at RDU International Airport.</p>

<p>It doesn't take long for visitors to the City to notice the changing face of Durham, but the current exciting transformation is just one of many transitions the City has gone through as it has shaped a vibrant history over the last 180 years to become the world-class City it is today.</p>

<p>Durham was nicknamed the "Bull City" in the late 1800s when the Blackwell Tobacco Company named its product "Bull" Durham Tobacco. By the time James B. Duke of the American Tobacco Company purchased the Blackwell Tobacco Company in 1898, Bull Durham was the most famous trademark in the world.</p>

<p>The "Bull City" prospered as a manufacturing hub for the tobacco industry and textiles for many decades, but has since transformed itself into a place where shopping thrives and high-tech industry flourishes with upscale housing in the same classic buildings where tobacco giants American Tobacco and Liggett-Meyers once made this City their industrial home.</p>
</article>

<article>
<p class="dropcap">With the birth of the Research Triangle Park (RTP) in the 1950s, Durham began to take on a new look that has evolved into a global center for information technology, biotechnology, pharmaceuticals, and medicine. The City of Durham is known as the "City of Medicine," with healthcare as a major industry including more than 300 medical and health-related companies and medical practices with a combined payroll exceeding $1.5 billion annually.</p>

<p>Since its founding in 1924, Duke University has grown into one of the most prestigious private universities in the world and its medical center ranks annually among the top in the nation. The university is the largest employer in Durham, providing jobs for more than 18,000 residents. The City is also home to North Carolina Central University (NCCU), which has recently embarked on an ambitious plan for growth, particularly in the area of biotechnology research. Durham Technical Community College rounds out the community’s post-secondary educational institutions and offers traditional academic and vocational training as well as customized programs to meet changing industry needs.
</p>
</article>




				</div>

			</div>
			<!-- /ARTICLE -->

			<!-- SIDEBAR -->

		</div>


	</div>
</section>
<!-- /CONTENT -->
