			<section class="page-title">
				<div class="container">

					<header>
						<div class="row grid-color">
							<div class="col-md-7"><h2>Cost & Fees</h2></div>

							<div class="col-md-1">Ownership Percentage </div>
							<div class="col-md-1"><button type="button" class="btn btn-primary" data-percentage="100%" data-initial-fee="$4000" data-exit-fee="$8000" data-exit-fee-discount="$800">100%</button></div>

							<div class="col-md-1"><button type="button" class="btn" data-percentage="75%" data-initial-fee="$3250" data-exit-fee="$6500" data-exit-fee-discount="$650">75%</button></div>

							<div class="col-md-1"><button type="button" class="btn" data-percentage="50%" data-initial-fee="$2500" data-exit-fee="$5000" data-exit-fee-discount="$500">50%</button></div>

							<div class="col-md-1"><button type="button" class="btn" data-percentage="25%" data-initial-fee="$1750" data-exit-fee="$3500" data-exit-fee-discount="$350">25%</button></div>
						</div>
					</header>

				</div>
			</section>
			<!-- /PAGE TOP -->



			<!-- CONTENT -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-md-3">

							<!-- SIDE NAV -->
							<h2><!-- Page Title -->
								The fees displayed assume a <span class="text-danger" id="percentage">100% </span> ownership of a Shared Roof Certified Property
							</h2><!-- /Page Title -->
							<!-- /SIDE NAV -->

						</div>

						<div class="col-md-9">

							<!-- Timeline -->
							<div class="timeline">
								<div class="timeline-left">

									<div class="item"><!-- item -->
										<h4><b>Initial</b> <span class="text-danger">Roof Certification Fee</span></h4>
										<p>One time fee of <b><span id="initial-fee">$4000</span></b> that goes towards Roof Full Suite Appraisal and Checkup, Roof Owners background check, Roof legal structure and incorporation, and Roof Yearly corporate license renewal fee.</p>
									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h4><b> Monthly </b> <span class="text-danger">Roof Management Fee<span></h4>
										<p> <b> 18% </b> monthly management fee that is waived if we cannot find tenants for your home. If you do not get paid, neither do we. *Note that by comparison, the average property management fee is 10%, just to manage your home! You will have to finance and acquire the property yourself, vet and place tenants yourself, and many more. <a href="invest">  Let Shared Roof handle all that. </a> </p>

									</div><!-- /item -->

									<div class="item"><!-- item -->
										<h4><b> Liquidation </b> <span class="text-danger">Roof Exit Fee</span></h4>
										<p>Liquidation fee starts at <b><span id="exit-fee">$5000</span></b> but is discounted by <b><span id="exit-fee-discount">$500</span></b> for every year that equity of the Shared Roof Certified Property is held. </p>
									</div><!-- /item -->
							</div>
							<!-- /Timeline -->
						</div>

					</div>

				</div>
			</section>

<script>
	$('.btn').click(function(){
	  $('.btn').removeClass('btn-primary')
	  $this = $(this);
	  $this.addClass('btn-primary');
	  $('#percentage').text($this.data('percentage'));
	  $('#initial-fee').text($this.data('initial-fee'));
	  $('#exit-fee').text($this.data('exit-fee'));
	  $('#exit-fee-discount').text($this.data('exit-fee-discount'));
	});
</script>