	<section class="page-title">
		<div class="container">

			<header>
				<div class="row grid-color">
					<div class="col-md-7"><h2>Hemodialysis</h2></div>
				</div>
			</header>

		</div>
	</section>
	<!-- /PAGE TOP -->


	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
						<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
								<div>
									<img class="img-responsive" src="raw_assets/images/HemoArea1.jpg" width="555" height="311" alt="">
								</div>
								<div>
									<img class="img-responsive" src="raw_assets/images/HemoArea2.jpg" width="555" height="311" alt="">
								</div>
								<div>
									<img class="img-responsive" src="raw_assets/images/HemoLab1.jpg" width="555" height="311" alt="">
								</div>
								<div>
									<img class="img-responsive" src="raw_assets/images/HemoLab2.jpg" width="555" height="311" alt="">
								</div>
								<div>
									<img class="img-responsive" src="raw_assets/images/paleHemo.jpg" width="555" height="311" alt="">
								</div>
								<div>
									<img class="img-responsive" src="raw_assets/images/entranceHemo.jpg" width="555" height="311" alt="">
								</div>
							</div>
				</div>
				<div class="col-md-6">
					<article>
						<p class="dropcap lead">In hemodialysis, a machine filters wastes, salts, and fluid from your blood when your <span style="margin-left:-47px;">kidneys</span> can no longer do this work adequately. Hemodialysis can help your body control blood pressure and maintain the proper balance of fluids and various minerals such as potassium and sodium in your body. Normally, hemodialysis begins well before your kidneys have shut down to the point of causing life-threatening complications. Hemodialysis allows you to carry on an active life despite failing kidneys.

					</article>

				</div>
			</div>
		</div>
	</section>

	<div class="divider" style="margin: 10px 8% 60px 8%"><!-- divider -->
		<i class="fa fa-leaf"></i>
	</div>

	<div class="container" style="text-align: center; margin-bottom: 60px">
		<!-- PAPERWORK -->
		<button class="btn btn-primary rec" data-toggle="modal" data-target=".bs-large-modal-lg"><i class="fa fa-user-md"></i> <b>Required Paperwork &nbsp</b><i class="fa fa-user-md"></i></button>

		<div class="modal fade bs-large-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<div class="modal-header"><!-- modal header -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Paperwork</h4>
					</div><!-- /modal header -->

					<!-- modal body -->
					<div class="modal-body">
						<div class="row featured-box-minimal">
								<div class="col-md-6 lead">
									<ul class="list-icon check lead">
										<li>DIALYSIS PRESCRIPTION / REFERRAL LETTER FROM ATTENDING PHYSICIAN</li>
										<li>TREATMENT SHEET—LAST 3 TREATMENT SESSIONS</li>
										<li>MEDICAL ABSTRACT</li>
									</ul>
								</div>
								<div class="col-md-6 lead">
									<ul class="list-icon check lead">
										<li>LATEST LABORATORY RESULT WITH BLOOD TYPING</li>
										<li>LATEST HEPATITIS PROFILE—WITHIN THE LAST 6 MONTHS</li>
										<li>LIST OF MEDICATIONS</li>
									</ul>
								</div>
						</div>
					</div>
					<!-- /modal body -->

					<div class="modal-footer"><!-- modal footer -->
						<button class="btn btn-default" data-dismiss="modal">Close</button>
					</div><!-- /modal footer -->

				</div>
			</div>
		</div>

		<!-- PREREQUISITES -->
		<button class="btn btn-primary rec" data-toggle="modal" data-target=".bs-large-modal-lg2"> <i class="fa fa-tasks"></i> <b>Access Prerequisites &nbsp</b> <i class="fa fa-tasks"></i> 
		</button>

		<div class="modal fade bs-large-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<div class="modal-header"><!-- modal header -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Prerequisites</h4>
					</div><!-- /modal header -->

					<!-- modal body -->
					<div class="modal-body">
						<p class="lead">There are three types of vascular access to allow blood to be safely removed from your circulation and then returned to you in order for the hemodialysis process to work:</p>
						<div class="row featured-box-minimal">
								<div class="col-md-7 lead">
									<ul class="list-icon check lead">
										<li>Arteriovenous (AV) fistula: connection between an artery and a vein, usually in the arm you use less often. This is the best type of access but it takes several months to develop to the point where it can be used for dialysis.</li>
										<li>Arteriovenous (AV) graft: if your vessels are too small to form a fistula, the surgeon may instead create a path between the artery and vein using a synthetic tube called a graft. This type of vascular access takes a few weeks before it is ready for access.</li>
									</ul>
								</div>
								<div class="col-md-5 lead">
									<ul class="list-icon check lead">
										<li>Central venous catheter: if you need emergency hemodialysis, a catheter may be placed in a large vein in your neck or groin. This type of vascular access can be used immediately, but it is only for temporary use and should be removed within 4-6 months.</li>
									</ul>
								</div>
						</div>
					</div>
					<!-- /modal body -->

					<div class="modal-footer"><!-- modal footer -->
						<button class="btn btn-default" data-dismiss="modal">Close</button>
					</div><!-- /modal footer -->

				</div>
			</div>
		</div>
	</div>

	<div class="divider" style="margin: 10px 8% 60px 8%"><!-- divider -->
		<i class="fa fa-leaf"></i>
	</div>

	<!-- DIET -->
	<article class="row container featured-box-minimal">

		<div class="col-md-6">

			<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>

				<div>
					<img class="img-responsive" src="/raw_assets/images/diet1.jpg" width="555" height="311" alt="">
				</div>

				<div>
					<img class="img-responsive" src="/raw_assets/images/diet2.jpg" width="555" height="311" alt="">
				</div>

				<div>
					<img class="img-responsive" src="/raw_assets/images/diet3.jpg" width="555" height="311" alt="">
				</div>

			</div>

		</div>

		<div class="col-md-6">

			<h4><i class="fa fa-spoon"></i><b>In Between Treatments</b></h4>

			<p class="lead">Take prescribed medications and follow a <u>renal diet</u>: </p>

			<div class="row">
				<div class="col-md-6">
					<ul class="list-icon check lead">
						<li>Limit intake of fluid</li>
						<li>Take phosphate binders</li>
					</ul>
				</div>

				<div class="col-md-6">							
					<ul class="list-icon check lead">
						<li>limit intake of Sodium, Potassium, and Phosphate</li>
					</ul>
				</div>

			</div>
		</div>
	</article>









