			<section class="page-title">
				<div class="container">

					<header>
						<div class="row grid-color">
							<div class="col-md-7"><h2>Hemodialysis</h2></div>
						</div>
					</header>

				</div>
			</section>
			<!-- /PAGE TOP -->

	
			<!-- CONTENT -->
			<section>
				<div class="container">

												<!-- FEATURED BOXES 4 (2 columns) -->
					<div class="row featured-box-minimal">

						<div class="col-md-6">
							<h4><i class="fa fa-user-md"></i> <b>Mission </b></h4>
							<p>Obligated in providing safe and cost-effective dialysis service and become the partner of choice of doctors and patients.</p>
							</div>
							<div class="col-md-6">
							<h4><i class="fa fa-user-md"></i> <b>Vision </b></h4>
							<p>We aspire to be a model dialysis center by providing optimum medical care through the use of state-of-the-art facilities managed by highly trained and qualified staff.</p>
						</div>
					</div>

				</section>

						<!-- BORN TO BE A WINNER -->
			<section>
				<div class="container">
					<div class="row">

						<div class="col-md-6">
							<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
								<div>
									<img class="img-responsive" src="assets/images/demo/about_1.jpg" width="555" height="311" alt="">
								</div>
								<div>
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="http://player.vimeo.com/video/23630702" width="800" height="450"></iframe>
									</div>
								</div>
								<div>
									<img class="img-responsive" src="assets/images/demo/about_2.jpg" width="555" height="311" alt="">
								</div>
							</div>
						</div>
						<div class="col-md-6">
				<article>
<p class="dropcap">Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic.</p>

<p>Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic. Text about the hemodialysis clinic.</p>

</article>

						</div>

					</div>
				</div>
			</section>




						</div>
					</div>


			</div>
		</section>

<script>
	$('.btn').click(function(){
	  $('.btn').removeClass('btn-primary')
	  $this = $(this);
	  $this.addClass('btn-primary');
	  $('#percentage').text($this.data('percentage'));
	  $('#initial-fee').text($this.data('initial-fee'));
	  $('#exit-fee').text($this.data('exit-fee'));
	  $('#exit-fee-discount').text($this.data('exit-fee-discount'));
	});
</script>