<body class="smoothscroll">

	<div id="wrapper">

		<!-- REVOLUTION SLIDER -->
		<div class="slider fullwidthbanner-container roundedcorners">
			<div class="fullwidthbanner">
				<ul class="hide">

					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="100" data-delay="5000">

						<div class="tp-caption large_bold_white sft stb"
							data-x="190"
							data-y="40"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">St. Camillus Medical Clinics
						</div>x

						<div class="tp-caption medium_light_white sft stb"
							data-x="190"
							data-y="105"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">Committed to the Care and Concerns of each of our Patients
						</div>

					</li>


					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="100" data-delay="5000">
						<div class="tp-caption medium_light_white sft stb"
							data-x="100"
							data-y="150"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">State of the Art
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="100"
							data-y="190"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><b>Hemodialysis Clinic</b>
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="100"
							data-y="230"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">imported directly from the U.S.
						</div>

	<!-- 					<div class="tp-caption sft medium_light_white"
							data-x="550"
							data-y="58"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/home_lock.jpg" alt="" />
						</div> -->

					</li>

					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="5000">

						<div class="tp-caption medium_light_white sft stb"
							data-x="100"
							data-y="150"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">Carefully designed
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="100"
							data-y="190"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><b>Rehabilitation Clinic</b>
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="100"
							data-y="230"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"> with the best in class therapists
						</div>


			<!-- 			<div class="tp-caption sft medium_light_white"
							data-x="520"
							data-y="30"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/house_cash.jpg" alt="" />
						</div> -->

					</li>


					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="5000">

						<div class="tp-caption medium_light_white sft stb"
							data-x="700"
							data-y="140"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><b> Affordable </b> care
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="700"
							data-y="180"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">that cannot be beat
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="700"
							data-y="220"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">by our competitors
						</div>

<!-- 						<div class="tp-caption sft medium_light_white"
							data-x="130"
							data-y="55"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/keys_blueprint.jpg" alt="" />
						</div> -->

					</li>



					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="5000">

						<div class="tp-caption medium_light_white sft stb"
							data-x="320"
							data-y="65"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">We care for you like we care for <b>family</b>
						</div>

<!-- 						<div class="tp-caption sft medium_light_white"
							data-x="210"
							data-y="165"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/house_percent.jpg" alt="" />
						</div> -->

					</li>


				</ul>
				<div class="tp-bannertimer"></div>
			</div>
		</div>
		<!-- /REVOLUTION SLIDER -->

		<!-- CALLOUT -->
		<div class="callout styleBackgroundColor">
			<div class="container">

				<div class="row">

					<div class="tp-caption large_bold_white sft stb">
						<p style="text-align:center; font-size: 34px">Rethinking Philippine Health Care One Patient at a Time</p>
					</div>

				</div>

			</div>
		</div>
		<!-- /CALLOUT -->


		<!-- WELCOME -->
		<section>
			<div class="container">
				<header>
					<h2>
						Welcome to
						<span class="word-rotator" data-delay="2000"><!-- word rotator - default delay: 2000. Change rotating delay: data-delay="5000" -->
							<span class="items bold">
								<span><em>St. Camillus Medical Center</em></span>
								<span><em>the future of healthcare</em></span>
							</span>
						</span><!-- /word rotator -->
					</h2>
				</header>



				<!-- FEATURED BOXES 3 -->
				<div class="row featured-box-minimal">

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> State of the art technologies</h4>

					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Best in class doctors and staff</h4>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Transparent and honest</h4>
					</div>


					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Patients come first</h4>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Affordable and easy</h4>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Progressive</h4>
					</div>

				</div>
				<!-- /FEATURED BOXES 3 -->

			</div>
		</section>
		<!-- /WELCOME -->



		<!-- PREMIUM -->
		<section class="alternate">
			<div class="container">

				<div class="row">
					<div class="col-md-6">
						<h2>Breaking <strong>Barriers</strong></h2>
						<p class="lead">St. Camillus Medical Clinics is comprised of professionals and practitioners from the medical industry with passion in their respective fields of expertise. With the mutual goal of providing service to its countrymen, these individuals have pooled their resources to extend patient care in the most affordable and optimum level of service needed.</p>

						<p class="lead">The service commitment of St. Camillus Medical Clinics is to provide available and assured quality patient care in an ambulatory freestanding setting.</p>
					</div>
					<div class="col-md-6">
						
							<!-- SINGLE TOGGLE -->
							<h3>Why <strong>Us</strong>?</h3>
							<div class="toggle toggle-accordion">

								<div class="toggle">
									<label>Our Mission</label>
									<div class="toggle-content">
										<p>To be the leading healthcare services and facility provider in the Philippines.</p>
									</div>
								</div>

								<div class="toggle">
									<label>Our Vision</label>
									<div class="toggle-content">
										<p>
											To provide safe and effective medical treatment and services with the most reasonable cost so as to satisfy our patient’s needs by offering excellent medical services. 
										</p>
									</div>
								</div>
							</div>
						</div>

	<!-- 				<div class="col-md-6 text-center">
						<br/>
						<br/>
						<br/>
						<img class="img-responsive animate_fade_in" src="/raw_assets/images/sharedroof/apartments.jpg" alt="" />
					</div> -->
				</div>

				<div class="row text-center countTo">
					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong class="styleColor" data-to="25">25</strong>
							<label>Combined Years Medical Experience</label>
						</span>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong class="styleColor" data-to="12">12</strong>
							<label>Loving Staff</label>
						</span>
					</div>

					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong class="styleColor" data-to="125">125</strong>
							<label>Cups of Coffee</label>
						</span>
					</div>
				</div>

			</div>
		</section>
		<!-- /PREMIUM -->

		<section>
			<div class="container"> 
				<header class="text-center">
						<h2>Meet our <strong>Partners</strong></h2>
						<div class="divider half-margins onepage center"><!-- lines divider --></div>
				</header>

				<div class="row">
					<div class="col-md-5">
							<div class="featured-box noborder transparent"><!-- add .transparent for no background color -->
								<img src="/raw_assets/images/logo-medicalcity.jpg" alt="" />
							</div>
					</div>

					<div class="col-md-4">
							<div class="featured-box noborder transparent"><!-- add .transparent for no background color -->
								<img src="/raw_assets/images/philhealth_logo.png" alt="" />
							</div>
					</div>

					<div class="col-md-2">
							<div class="featured-box noborder transparent"><!-- add .transparent for no background color -->
								<img src="/raw_assets/images/PCSO_logo.jpg" alt="" />
							</div>
					</div>
				</div>

				<div class="row"></div>

			</div>
		</section>

		<!-- CALLOUT -->
		<div class="callout dark arrow-up"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
			<div class="container">

				<div class="row">

					<div class="col-md-9"><!-- title + shortdesc -->
						<h3>How can we <strong>help</strong>?</h3>
						<p>It is <strong> quick and easy </strong> give us a call
					</div>

					<div class="col-md-3"><!-- button -->
						<a href="contact" rel="nofollow" target="_blank" class="btn btn-primary btn-lg">Contact Us</a>
					</div>

				</div>

			</div>
		</div>
	</div><!-- /#wrapper -->