<body class="smoothscroll">

	<div id="wrapper">

		<!-- REVOLUTION SLIDER -->
		<div class="slider fullwidthbanner-container roundedcorners">
			<div class="fullwidthbanner">
				<ul class="hide">

					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="100" data-delay="5000">

						<div class="tp-caption large_bold_white sft stb"
							data-x="100"
							data-y="40"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">Shared Roof Certified Properties
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="20"
							data-y="105"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">are carefully selected by our team of experienced and knowledgeable professionals
						</div>

						<div class="tp-caption sft medium_light_white"
							data-x="85"
							data-y="190"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/magnifying_house.svg" alt="" />
						</div>

						<div class="tp-caption sft medium_light_white"
							data-x="245"
							data-y="190"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/magnifying_house.svg" alt="" />
						</div>

						<div class="tp-caption sft medium_light_white"
							data-x="405"
							data-y="190"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/magnifying_house.svg" alt="" />
						</div>

						<div class="tp-caption sft medium_light_white"
							data-x="565"
							data-y="190"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/magnifying_house_red.svg" alt="" />
						</div>

						<div class="tp-caption sft medium_light_white"
							data-x="725"
							data-y="190"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/magnifying_house.svg" alt="" />
						</div>

						<div class="tp-caption sft medium_light_white"
							data-x="885"
							data-y="190"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/magnifying_house.svg" alt="" />
						</div>

					</li>


					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="100" data-delay="5000">
						<div class="tp-caption medium_light_white sft stb"
							data-x="100"
							data-y="150"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">Your direct real estate
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="100"
							data-y="190"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">investment is secured by your
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="100"
							data-y="230"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">Shared Roof Certified Property
						</div>

						<div class="tp-caption sft medium_light_white"
							data-x="550"
							data-y="58"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/home_lock.jpg" alt="" />
						</div>

					</li>

					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="5000">

						<div class="tp-caption medium_light_white sft stb"
							data-x="120"
							data-y="140"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">Receive cash dividends
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="120"
							data-y="180"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">from your Shared Roof
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="120"
							data-y="220"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"> Certified Property
						</div>


						<div class="tp-caption sft medium_light_white"
							data-x="520"
							data-y="30"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/house_cash.jpg" alt="" />
						</div>

					</li>


					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="5000">

						<div class="tp-caption medium_light_white sft stb"
							data-x="700"
							data-y="140"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">Fully managed
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="700"
							data-y="180"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">Shared Roof Certified Properties
						</div>

						<div class="tp-caption medium_light_white sft stb"
							data-x="700"
							data-y="220"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">come with no-hassle ownership
						</div>

						<div class="tp-caption sft medium_light_white"
							data-x="130"
							data-y="55"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/keys_blueprint.jpg" alt="" />
						</div>

					</li>



					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="5000">

						<div class="tp-caption medium_light_white sft stb"
							data-x="110"
							data-y="65"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo">Become a part owner or full owner of a Shared Roof Certified Property
						</div>

						<div class="tp-caption sft medium_light_white"
							data-x="210"
							data-y="165"
							data-speed="300"
							data-start="1000"
							data-easing="easeOutExpo"><img src="/raw_assets/images/sharedroof/house_percent.jpg" alt="" />
						</div>

					</li>


				</ul>
				<div class="tp-bannertimer"></div>
			</div>
		</div>
		<!-- /REVOLUTION SLIDER -->

		<!-- CALLOUT -->
		<div class="callout styleBackgroundColor">
			<div class="container">

				<div class="row">

					<div class="tp-caption large_bold_white sft stb">
						<p style="text-align:center; font-size: 34px">Rethinking real estate investments one roof at a time</p>
					</div>

				</div>

			</div>
		</div>
		<!-- /CALLOUT -->


		<!-- WELCOME -->
		<section>
			<div class="container">
				<header>
					<h2>
						Welcome to
						<span class="word-rotator" data-delay="2000"><!-- word rotator - default delay: 2000. Change rotating delay: data-delay="5000" -->
							<span class="items bold">
								<span><em>the Future of Real Estate Investment</em></span>
								<span><em>Shared Roof Investments</em></span>
							</span>
						</span><!-- /word rotator -->
					</h2>
				</header>



				<!-- FEATURED BOXES 3 -->
				<div class="row featured-box-minimal">

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> A+ selection of real estate</h4>

					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Tenant Placing</h4>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Management</h4>
					</div>


					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Like-minded Investors</h4>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Legal Protection</h4>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<h4><i class="fa fa-check"></i> Cash In Your Bank</h4>
					</div>

				</div>
				<!-- /FEATURED BOXES 3 -->

			</div>
		</section>
		<!-- /WELCOME -->



		<!-- PREMIUM -->
		<section class="alternate">
			<div class="container">

				<div class="row">
					<div class="col-md-6">
						<h2>Breaking <strong>Barriers</strong></h2>
						<p class="lead">Real estate investment is a fundamental, proven vehicle of wealth building. Until now, there have been significant cash, credit, experience, knowledge and time requirements that make real estate investment inaccessible. Shared Roof breaks down these barriers by providing an end-to-end, fully facilitated acquisition and management pathway to direct real estate ownership and management. Our team of experts will navigate the complex world of real estate for you, allowing you to become a Shared Roof Certified Property Owner with none of the hassles. Invest as little or as much as you like in a hand-selected Shared Roof Certified Property and we’ll take it from there.     </p>
					</div>

					<div class="col-md-6 text-center">
						<br/>
						<br/>
						<br/>
						<img class="img-responsive animate_fade_in" src="/raw_assets/images/sharedroof/apartments.jpg" alt="" />
					</div>
				</div>

				<div class="row text-center countTo">
					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong class="styleColor" data-to="16">16</strong>
							<label>Years Experience</label>
						</span>
					</div>

					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong class="styleColor" data-to="6">6</strong>
							<label>Partners</label>
						</span>
					</div>

					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong class="styleColor" data-to="12">12</strong>
							<label>Certified Properties</label>
						</span>
					</div>

					<div class="col-md-3 col-sm-6">
						<span class="boxed radius3">
							<strong class="styleColor" data-to="125">125</strong>
							<label>Cups of Coffee</label>
						</span>
					</div>
				</div>

			</div>
		</section>
		<!-- /PREMIUM -->

		<!-- CALLOUT -->
		<div class="callout dark arrow-up"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
			<div class="container">

				<div class="row">

					<div class="col-md-9"><!-- title + shortdesc -->
						<h3>Ready to take <strong>action</strong>?</h3>
						<p>The process can be as <strong> involved </strong> or as <strong> hands-free </strong>as you want it to be</p>
					</div>

					<div class="col-md-3"><!-- button -->
						<a href="contact" rel="nofollow" target="_blank" class="btn btn-primary btn-lg">Contact Us</a>
					</div>

				</div>

			</div>
		</div>
	</div><!-- /#wrapper -->