<body>


      <section class="page-title">
      	<div class="container">
      		<header>
      			<div class="row grid-color">
      				<div class="col-md-7"><h2>INFORMATION</h2></div>
      			</div>
      		</header>
      	</div>
      </section>

      <!-- DEFENITION KIDNEY -->
      <section>
        <article class="row">
            <div class="row container">

                <div class="col-md-5" style="margin: 15px 20px 0 -25px">
                    <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "transitionStyle":"fadeUp"}'>
                      <div>
                        <img class="img-responsive" src="/raw_assets/images/significance1.jpg" width="555" height="411" alt="">
                      </div>
                      <div>
                        <img class="img-responsive" src="/raw_assets/images/significance2.jpg" width="555" height="311" alt="">
                      </div>
                    </div>
                </div>

                <div class="featured-box-minimal">
                  <div class="col-md-7">
                          <div class="row">
                            <h4 style="margin-left: -20px"><img src="/raw_assets/images/doubleKidneyLogo.png"></i>The significance of the <strong>Kidney</strong></h4>
                            <p class="lead">Your kidney filters wastes and excess fluids from your blood, which are then excreted in your urine. This helps regulate the level of important minerals, such as sodium and potassium, in your body. The kidney also produces erythropoietin, which is a hormone that stimulates red blood cell production in response to falling oxygen levels.</p>
                          </div>
                        </div>
                  </div>
                </div>

            </div>
        </article>
      </section>

      <!-- DEFENITION FAILURE  -->
      <section class="alternate">
          <div class="row featured-box-minimal">
            <div class="container">
                <div class="row">
                  <h4><i class="fa fa-medkit"></i>What is <strong>Kidney Failure</strong>?</h4>
                  <p class="lead">There are two types of kidney failure. Chronic kidney failure is the gradual loss of kidney function, usually occurring over months to years. Because your kidneys are highly adaptable and able to compensate for lost function, signs and symptoms may not appear until irreversible damage has occurred. Acute kidney failure develops rapidly over a few hours or a few days, most commonly in critically ill people who are already hospitalized. Although acute kidney failure requires intensive treatment, the damage may be reversible with proper treatment. Both chronic and acute kidney failure can result in end-stage renal disease (ESRD). End-stage kidney failure is fatal without dialysis or kidney transplant.</p>
                </div>
              </div>
          </div>
      </section>

      <section>
         <!-- ACCORDION -->
          <div class="accordion panel-group row featured-box-minimal container" id="accordion">
           
            <!-- CAUSES  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#acordion1">
                    <h4 style="text-align: center"><i class="fa fa-thumb-tack"></i> <b>CAUSES &nbsp&nbsp</b><i class="fa fa-thumb-tack"></i></h4>
                  </a>
                </h4>
              </div>
              <div id="acordion1" class="collapse in">
                <div class="panel-body">
                  <div class="container">
                      <br>
                      <div class="col-md-4">
                             <ul class="list-icon dot-circle lead">
                                 <li>Diabetes</li>
                                 <li>Hypertension</li>
                                 <li>Glomerulonephritis</li>
                             </ul>
                      </div>
                      <div class="col-md-4" >
                             <ul class="list-icon dot-circle lead">
                                 <li>Vasculitis</li>
                                 <li>Interstitial nephritis</li>
                                 <li>Polycystic kidney disease</li>
                             </ul>
                      </div>
                      <div class="col-md-4" >
                             <ul class="list-icon dot-circle lead">
                                 <li>Acute kidney damage</li>
                                 <li>Recurrent pyelonephritis</li>
                                 <li>Prolonged urinary tract obstruction </li>
                             </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- SIGNS AND SYMPTOMS -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#acordion2">
                    <h4 style="text-align: center"><i class="fa fa-exclamation"></i> <b>SYMPTOMS &nbsp&nbsp</b><i class="fa fa-exclamation"></i></h4>
                  </a>
                </h4>
              </div>
              <div id="acordion2" class="collapse">
                <div class="panel-body">
                    <div class="container">
                      <div class="col-md-4">
                             <ul class="list-icon dot-circle lead">
                                 <li>Nausea</li>
                                 <li>Vomiting</li>
                                 <li>Loss of appetite</li>
                                 <li>Fatigue and weakness</li>
                                 <li>Sleeping problems</li>
                             </ul>
                      </div>
                      <div class="col-md-4" >
                             <ul class="list-icon dot-circle lead">
                                 <li>Change in urine output</li>
                                 <li>Muscle twitches and cramps</li>
                                 <li>Hiccups</li>
                                 <li>Increased confusion and/or drowsiness, seizures or coma in severe cases</li>
                             </ul>
                      </div>
                      <div class="col-md-4" >
                             <ul class="list-icon dot-circle lead"> 
                                 <li>Constant itching</li>
                                 <li>Chest pain/pressure</li>
                                 <li>Shortness of breath</li>
                                 <li>Swelling of feet and ankles</li>
                                 <li>Hypertension that is difficult to control</li>
                             </ul>
                      </div>
                    </div>
                </div>
               </div>
              </div>

                <!-- COMPLICATIONS -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#acordion3">
                        <h4 style="text-align: center"><i class="fa fa-flag"></i> <b>COMPLICATIONS &nbsp&nbsp</b><i class="fa fa-flag"></i></h4>
                      </a>
                    </h4>
                  </div>
                  <div id="acordion3" class="collapse">
                    <div class="panel-body">
                      <div class="container">
                          <div class="col-md-4">
                                 <ul class="list-icon dot-circle lead">
                                    <li>Decreased sex drive or impotence</li>
                                     <li>Weak bones and increased risk of bone fractures</li>
                                     <li>Fluid build up in the arms and legs and/or the lungs</li>
                                 </ul>
                          </div>
                          <div class="col-md-4" >
                                 <ul class="list-icon dot-circle lead">
                                     <li>Anemia</li>
                                     <li>Deceased immune response making you more likely to get infections</li>
                                     <li>Hyperkalemia (high potassium) - can cause fatal heart problems</li>
                                 </ul>
                          </div>
                          <div class="col-md-4" >
                                 <ul class="list-icon dot-circle lead">
                                     <li>Hypertension</li>
                                     <li>Cardiovascular disease</li>
                                     <li>Damage to your brain causing difficulty concentrating, personality changes, or seizures</li>
                                 </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
         </div>
        <!-- /ACCORDION -->
    </section>
    
</body>
