<body>


      <section class="page-title">
      	<div class="container">
      		<header>
      			<div class="row grid-color">
      				<div class="col-md-7"><h2>INFORMATION</h2></div>
      			</div>
      		</header>
      	</div>
      </section>

      <!-- What is hemodialysis -->
      <section>
          <div class="row featured-box-minimal">
              <div class="container" style="height:140px">
              	<div class="row">
              		<h4><img src="/raw_assets/images/doubleKidneyLogo.png"></i>What is <strong>Hemodialysis</strong>?</h4>
              		<p style="margin-left:30px" class="lead">Dialysis is the treatment for severe kidney failure(also called renal failure, or end-stage renal desease). 
               		 When the kidneys are no longer working effectively, waste and fluid in the body 
              		build up in the blood, which can be harmful. Dialysis replicates the function of the failing kidneys removes the build-up from inside the body. </p>
              	</div>
              </div>
          </div>
      </section>

      <!-- Nutirtional Recommendations-->
      <section class="alternate" style="height:400px">
          <div class="row featured-box-minimal" style="height:230px">
            <div class="container">
                <h4 style="text-align: center"><i class="fa fa-cutlery"></i> <b>Nutritional Recommendations </b><i class="  fa fa-cutlery"></i></h4>

                <br>

                <div style="margin-left:160px">
                    <div class="col-md-5">
                           <h4>FATTY FOODS</h4>
                           <ul class="list-icon dot-circle lead">
                               <li>Avoid too oily food</li>
                               <li>Moderate margarine,<br>Butter, Cream</li>
                           </ul>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5" >
                           <h4>CARBOHYDRATES</h4>
                           <ul class="list-icon dot-circle lead"  >
                               <li>Calories from non-protein<br>sources are very important</li>
                               <li>Bread</li>
                               <li>Noodle</li>
                               <li>Rice</li>
                               <li>Concentrated Sweets<br>and Jellies</li>
                           </ul>
                    </div>
                </div>
            </div>
          </div>
      </section>

      <!-- Signs, Symptoms, Risks, Prevention -->
      <section>

        <div class="container">
              <div class="col-md-4 vertical-line">
                   <h4 class="styleColor lead"><i class="fa fa-flag"></i><b>&nbspSigns and Symptoms</b></h4>
                     <ul class="list-icon dot-circle lead"  >
                         <li>Swelling of feet, hand, and face</li>
                         <li>Unexplained high blood pressure</li>
                         <li>Difficulty or pain in urination</li>
                         <li>Change in color and character of urine</li>
                         <li>Dizzyness and tiredness</li>
                     </ul>
              </div>

              <div class="col-md-4 vertical-line">
                <h4 class="styleColor lead"><i class="fa fa-warning"></i><b>&nbspRisks of Having Kidney Failure</b></h4>
                   <ul class="list-icon dot-circle lead"  >
                       <li>Devoloping Diabetes Mellitus</li>
                       <li>Having High Blood Pressure</li>
                   </ul>
              </div>

              <div class="col-md-4">
                <h4 class="styleColor lead"><i class="fa fa-ban"></i><b>&nbspPrevention</b></h4>
                   <ul class="list-icon dot-circle lead"  >
                       <li>Visit the Doctor Regularly</li>
                       <li>Take only Medicines Prescribed by Doctor</li>
                       <li>Drink at least 8 to 10 glasses of water every day</li>
                       <li>Avoid too much salt in your diet</li>
                   </ul>
              </div>
        </div>

      </section>

</body>
