<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>
			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><p class="text-danger">What We Do</p></li>
			</ul><!-- /breadcrumb -->
			<h2><!-- Page Title -->
				Rethinking Real Estate
			</h2><!-- /Page Title -->








		</header>

	</div>
</section>
<!-- /PAGE TOP -->




<!-- CONTENT -->
<section>
	<div class="container">

		<div class="row">

			<div class="col-md-2">

				<i class="featured-icon fa fa-home"></i>

				<hr class="invisible" /><!-- spacer 60px -->
				<hr class="invisible" /><!-- spacer 60px -->


				<i class="featured-icon fa fa-clipboard"></i>

				<hr class="invisible" /><!-- spacer 60px -->
				<i class="featured-icon fa fa-cogs"></i>

				<hr class="invisible" /><!-- spacer 60px -->


				<i class="featured-icon fa fa-briefcase"></i>

				<hr class="invisible" /><!-- spacer 60px -->

				<i class="featured-icon fa fa-bank"></i>

				<hr class="invisible" /><!-- spacer 60px -->

				<i class="featured-icon fa fa-flag"></i>

				<hr class="invisible" /><!-- spacer 60px -->

				<i class="featured-icon fa fa-group"></i>

				<hr class="invisible" /><!-- spacer 60px -->



			</div>

			<div class="col-md-10">

				<!-- CENTER -->
				<h2> 	A+ selection of real estate </h2>
				<h4 class="nomargin">
Because Shared Roof has a specific purpose and limited scope, our team can dedicate its full arsenal of resources to identify and acquire Shared Roof Certified Properties. We have decades of experience in identifying top performing assets and we are always on the lookout for the best real estate investment opportunities. </h4>
				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2> 	Tenant Placing </h2>
				<h4 class="nomargin">
Our intimate local knowledge provides us with the channels to reach great tenants. While ability to pay rent in a timely manner is critical, we interview and conduct full background checks on all prospective tenants to ensure that your Shared Roof Certified Property is in good hands.  When needed, our professionals can move quickly and effectively to protect your tenancy interests. </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2>	Management </h2>
				<h4 class="nomargin">
Caring for your Shared Roof Certified Property is the cornerstone of our business. We have a network of Shared Roof Certified Service Providers who we know and trust. Top-notch contractors and technicians will be retained and dispatched to your Shared Roof Certified Property without you lifting a finger.</h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2>	Legal Protection </h2>
				<h4 class="nomargin">
Your investment is backed by an actual real estate parcel. As a Shared Roof Investor, you directly own part or all of your Shared Roof Certified Property. No complex stock market securities and no guesswork. </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>

				<h2>	Cash In Your Bank </h2>
				<h4 class="nomargin">
Monthly profits earned by your Shared Roof Certified Property are paid directly to you. Period.  </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>

				<h2>	Purchase and Liquidation of the Home </h2>
				<h4 class="nomargin">
Shared Roof is with you from beginning to end. We will facilitate the placement of your investment through the acquisition of a Shared Roof Certified Property, maximize the potential of your investment through first-class management and assist you in selling your Shared Roof Certified Property when you decide the time is right.   </h4>

				<div class="divider"><!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>


				<h2>	Like-minded Investors </h2>
				<h4 class="nomargin">
We cater specifically to people like you and we take time to understand your needs.  If you choose fractional ownership of a Shared Roof Certified Property, we utilize our multi-step analysis to closely pair your investment goals with other investors with matching goals. We have measures in place to minimize the risks of undercapitalized Shared Roof Certified Properties and to maximize your comfort.   </h4>

			</div>

		</div>



	</div>
</section>
<!-- /CONTENT -->
