<body>
	<section class="page-title">
      	<div class="container">
      		<header>
      			<div class="row grid-color">
      				<div class="col-md-7"><h2>IMPORTANCE</h2></div>
      			</div>
      		</header>
      	</div>
      </section>


      <!-- Kidney Importance -->
      <section>
          <div class="row featured-box-minimal">
              <div class="container" style="height:140px">
              	<div class="row">
              		<h4><img src="/raw_assets/images/doubleKidneyLogo.png"></i>The importance of our <strong>Kidneys</strong></h4>
              		<p style="margin-left:30px" class="lead">Kidneys are important organs with many functions in the body, including producing hormones, absorbing minerals, filtering blood, and producing urine. </p>
              	</div>
              </div>
          </div>
      </section>

      <section class="alternate" style="height:400px">
          <div class="row featured-box-minimal" style="height:230px">
            <div class="container">
            	<div class="row">
            		<h4><img src="/raw_assets/images/doubleKidneyLogo.png"></i>Kidney <strong>Functions</strong></h4>

            		<div class="row tabs nomargin-top">

						<!-- tabs -->
						<div class="col-md-3 col-sm-3 nopadding-right">
							<ul class="nav nav-tabs nav-stacked">
								<li class="active">
									<a href="#tab_a" data-toggle="tab">
										Regulation
									</a>
								</li>
								<li>
									<a href="#tab_b" data-toggle="tab">
										Waste Removal
									</a>
								</li>
								<li>
									<a href="#tab_c" data-toggle="tab">
										Stacked Tab 3
									</a>
								</li>
							</ul>
						</div>

						<!-- tabs content -->
						<div class="col-md-9 col-sm-9 nopadding-left">
							<div class="tab-content">
								<div id="tab_a" class="tab-pane active">
									<h4>Stacked left</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
								</div>

								<div id="tab_b" class="tab-pane">
									<h4>Stacked left</h4>
									<p>Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>

								<div id="tab_c" class="tab-pane">
									<h4>Stacked left</h4>
									<p>Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
								</div>
							</div>
						</div>
					</div>


            	</div>
      		</div>
      	  </div>
      </section>
</body>