<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>
			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><span class="text-danger">Who We Are</span></li>
			</ul><!-- /breadcrumb -->
			<h2><!-- Page Title -->
				The St. Camillus Team
			</h2><!-- /Page Title -->

		</header>

	</div>
</section>
<!-- /PAGE TOP -->



<!-- CONTENT -->
<section>
	<div class="container">

		<p class="lead">Our dedicated team to bring you the family member care that you deserve.</p>

		<!-- important people -->
		<div class="row margin-top60">

			<div class="col-sm-12 col-md-12"><!-- member -->
				<div class="box-content thumbnail fullwidth text-center">
					<span class="item-image">
						<img class="img-responsive" src="/raw_assets/images/TeamPic1.jpg" alt="" />
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">NAMES or something
									<small class="block">Positions or more info</small>
								</h4>
							</div>
						</div>

						<p class="noborder nomargin nopadding">Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team. Positive text about team.</p>
					</div>
				</div>
			</div><!-- /member -->

			<div class="col-sm-6 col-md-6"><!-- member -->
				<div class="box-content thumbnail fullwidth text-center">
					<span class="item-image">
						<img class="img-responsive" src="/raw_assets/images/HeadNurse.jpg" alt="" />
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">NAME
									<small class="block">Head Nurse</small>
								</h4>
							</div>
						</div>

						<p class="noborder nomargin nopadding"> Positive text about head nurse. Positive text about head nurse. Positive text about head nurse. Positive text about head nurse. Positive text about head nurse. Positive text about head nurse. Positive text about head nurse.  vPositive text about head nurse. Positive text about head nurse. Positive text about head nurse. Positive text about head nurse. Positive text about head nurse. Positive text about head nurse. Positive text about head nurse.</p>
					</div>
				</div>
			</div><!-- /member -->

			<div class="col-sm-6 col-md-6"><!-- member -->
				<div class="box-content thumbnail fullwidth text-center">
					<span class="item-image">
						<img class="img-responsive" src="/raw_assets/images/jon.png" alt="" />
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">Jonathan H. Lehman, Attorney
									<small class="block">Cofounder and Chief Legal Officer</small>
								</h4>
							</div>

						</div>
						<p class="noborder nomargin nopadding">Jon is a real estate attorney and broker who has more than 15 years of real estate experience including condominium law, land development, commercial and residential sales and leases, landlord and tenant representation, evictions, short sales, distressed asset preservation and foreign investments management. He previously served as General Counsel for Prudential CRES Commercial Real Estate SFL and is an active residential investor and property manager.</p>
					</div>
				</div>
			</div><!-- /member -->

		</div>
		<!-- /important people -->

	</div>
</section>
<!-- /CONTENT -->


<!-- CALLOUT -->
<!-- <div class="callout styleBackgroundColor">
	<!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
	<!-- <div class="container"> -->

		<!-- <div class="row"> -->

			<!-- <div class="col-md-9">
				<h3>Want to be part of our team?</h3>
				<p>If so, click to join now, and be part of our dynamic team!</p>
			</div>

			<div class="col-md-3">
				<a href="page-careers.html" class="btn btn-primary btn-lg">Join Our Team</a>
			</div>

		</div>

	</div>
</div> -->
<!-- /CALLOUT -->


<div class="modal fade" id="whoAreTheyModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Shared Roof Certified Partners</h4>
      </div>
      <div class="modal-body">
        <h4>As you may know, one of the hardest aspects of owning a home is finding your team of trusted contractors to take care of every aspect of your property. Here at Shared Roof, we've hand picked local contractors that we've personally worked with or have been recommended to us by our network to ensure that your home gets the best care for the most affordable price. With our promise of end-to-end fully facilitated acquisition and management of property, you can rest assured that any work done on your Shared Roof Certified Property is only done by the best. Applicants are currently at various stages of our screening pipeline. </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>